@import './styles/reset.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.logger {
  display: flex;
  flex-direction: column;
}

.button {
  width: fit-content;
  padding: 0.5rem 1rem;

  &.small {
    padding: 0.2rem 0.5rem;
  }
}

.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {
  margin-top: var(--spacing, 1rem);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1rem);
}
.repel {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
