@import './styles/reset.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input, textarea {
  width: 100%;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

hr {
  width: 30%;
  min-width: 200px;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 0.8rem;
}

.logger {
  display: flex;
  flex-direction: column;
}

.button {
  width: fit-content;
  padding: 0.5rem 1rem;

  &.small {
    padding: 0.2rem 0.5rem;
  }

  &.active {
    background-color: green;
  }
}

.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {
  margin-top: var(--spacing, 1rem);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 0.4rem);
}
.repel {
  display: flex;
  justify-content: space-between;
}

/* Utilities */

.error-text {
  color: red;
  font-size: 0.9em;
}

/* Blocks */
.kingdom__name {
  text-align: center;
}
.kingdom__cards {
  text-align: center;
}
.kingdom__note {
  text-align: center;
}
.kingdom__time {
  text-align: right;
}
.kingdom__likes {
  text-align: center;
}
.kingdom-search {
  display: flex;
  gap: 0.5rem;

  input {
    flex-grow: 1;
  }
  .clear-button {
    flex-grow: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
